* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/default-photo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 300px;
  height: 480px;
  background-color: #eae7dc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
}

.destination {
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
}

.destination-country,
.destination-city,
.destination-type,
.destination-atrr {
  width: 240px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}

.destination-country {
  background: #d8c3a5;
}

.destination-city {
  background: #8e8d8a;
}

.destination-type {
  background: #e98074;
}

.destination-atrr {
  background: #e85a4f;
}

.drawBtn {
  width: 240px;
  height: 46px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .container {
    width: 520px;
    height: 480px;
  }
  .app-title {
    font-size: 44px;
  }
  .destination-country,
  .destination-city,
  .destination-type,
  .destination-atrr {
    width: 320px;
    height: 54px;
    font-size: 28px;
  }
  .drawBtn {
    width: 320px;
    height: 54px;
    font-size: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 600px;
    height: 520px;
  }
  .app-title {
    font-size: 52px;
  }
  .destination-country,
  .destination-city,
  .destination-type,
  .destination-atrr {
    width: 360px;
    height: 58px;
    font-size: 32px;
  }
  .drawBtn {
    width: 360px;
    height: 58px;
    font-size: 28px;
  }
}
